* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: Arial, Helvetica;
line-height: 1.5;
}
header
{
    background-color: whitesmoke;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: rgb(159, 131, 185);
    margin: 0 15px;
    text-decoration: center;
}
.hero {
    background-color: aliceblue;
    padding: 2rem;
    text-align: center;
}
.books {
    padding: 2rem;
}
.book-card {
   border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.book-image {
    width: 100px;
    height: 150px;
    background-color: blanchedalmond;
    margin-right: 1rem;
}
footer {
    background-color: aliceblue;
    color: rgb(159, 131, 185);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
